.LoginBlock {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.LoginInfoBlock {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.error {
    color: red;
    padding: 5px;
}

.LoginInfoBlock h1 {
    font-size: 50px;
    margin-bottom: 20px;
}
.LoginForm,
.goToRegister,
.goToLogin {
	padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    min-width: 300px;
}

.loginOrRegister {
	width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.LoginForm {
	margin-bottom: 10px;
}

.LoginForm input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
}

.LoginForm button,
.goToRegister button,
.goToLogin button {
	width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.LoginForm button[type='submit'] {
	background-color: #007bff;
	color: #fff;
}

.LoginForm button[type='submit']:hover {
	background-color: #0056b3;
}

.goToRegister button:hover,
.goToLogin button:hover {
	background-color: #018112;
}

.goToRegister button,
.goToLogin button {
	background-color: #00b919;
	color: #f9f9f9;
}

.goToRegister button:hover,
.goToLogin button:hover {
	text-decoration: underline;
}

.goToRegister p,
.goToLogin p {
	margin-top: 10px;
	font-size: 14px;
	color: #888;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .LoginBlock {
        flex-direction: column;
		padding: 0;
    }
	.loginOrRegister {
		width: 100%;
		align-items: center;
		margin: 0;
		padding: 0;
	} 
    .LoginInfoBlock {
        width: 100%;
		height: 15%;
        text-align: center;
    }

    .LoginInfoBlock h1 {
        font-size: 42px;
    }

    .LoginForm,
    .goToRegister {
		align-items: center;
        width: 100%;
    }
}


@media (max-width: 767px) {
    .LoginBlock {
        flex-direction: column;
		padding: 0;
    }
	.loginOrRegister {
		width: 100%;
		align-items: center;
		margin-top: 10px;
		margin: 0;
		padding: 0;
	} 
    .LoginInfoBlock {
        width: 100%;
		height: 15%;
        text-align: center;
    }

    .LoginInfoBlock h1 {
        font-size: 30px;
		margin: 0;
    }
	.LoginInfoBlock p {
		font-size: 12px;
		padding: 5px;
	}

	.LoginForm,
    .goToRegister,
    .goToLogin {
        width: 90%;
        max-width: none;
    }

}

